In [5]:
def sql(v = None):
    return f"""
    declare @var as nvarchar(20) = null
    set @var = '{v}'

    select * from table where @var is null or @var = var

    """

In [7]:
s = sql()
print(s)

    declare @var as nvarchar(20) = null
    set @var = 'None'

    select * from table where @var is null or @var = var